<?php

// 
// This is a basic HTML5 layout component.
// 
// We do some <head> magic here via AdvancedRenderer...
// getStyles() and getScripts() just return an array of file paths. You can do
// whatever you want with them, such as integrate into a minify/babel/etc build
// 
// Knowing the webroot is a prerequisite for the way we deal with 
// scripts/styles being added by individual components. This is a temporary
// example simply for demonstration.
// 
$webroot = dirname(dirname(__DIR__)) . '/';

?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My cool website</title>
		
		<?php // You can handle this however you want... ?>
		<?php foreach ($renderer->getStyles() as $style): ?>
			<?php if (substr_compare($style, $webroot, 0, strlen($webroot))) continue; ?>
			<?php $styleUri = '/' . substr($style, strlen($webroot)) ?>
			<link rel="stylesheet" href="<?= $styleUri ?>">
		<?php endforeach ?>
		
	</head>
	<body>
		<?= $content ?>
		
		<?php // Again, handle this however you want... ?>
		<?php foreach ($renderer->getScripts() as $script): ?>
			<?php if (substr_compare($script, $webroot, 0, strlen($webroot))) continue; ?>
			<?php $scriptUri = '/' . substr($script, strlen($webroot)) ?>
			<script src="<?= $scriptUri ?>" charset="utf-8"></script>
		<?php endforeach ?>
	</body>
</html>