<nav class="component-main-nav">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
	</ul>
</nav>

<?php // Totally optional: render children ?>
<?php if ($content): ?>
	<div class="extraContent">
		<?php echo $content ?>
	</div>
<?php endif ?>